.carousel{
    display: flex;
    position: relative;
    /* overflow: hidden; */
    justify-content: center;
    width: calc(100% + 1rem);
    height: 10rem;

    /* align-items: center; */
    /* width: 100%;
    height: 100%; */
    margin-top: 2rem;
}
.carousel-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-inner .carousel-item img {
    width: 11rem;
    height: 11rem;
    /* padding-bottom: 1rem; */
        
}

.carousel-inner{
    transition: transform 0.1s ease; 
    width: 30rem;
}

.carousel .card{
    position: relative;
    height: 10rem !important;
    margin-right: 0rem;
    /* height: 15rem; */
    width: 10rem;
    margin-right: 0.4rem;

}

.card .card-img img{
    object-fit: cover;
    width: 100%;
    /* max-height: 10rem; */

}

.carousel img {
    position:relative;
    width: 100%;
    height: 100%;
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active, 
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
}


.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.carousel-prev-arrow{
    position: absolute;
    left: -35px;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 5px;
}

.carousel-indicators {
    display: none !important;
}


.carousel-next-arrow{
    position: absolute;
    right: -35px;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 5px;
}

.carousel-next-icon img{
    transform: scaleX(-1);
}

.carousel-inner .carousel-item {
    -webkit-transition: transform 0.2s ease, opacity .5s ease-out;
    -moz-transition: transform 0.2s ease, opacity .5s ease-out;
    -o-transition: transform 0.2s ease, opacity .5s ease-out;
    transition: transform 0.2s ease, opacity .5s ease-out;
}

.f-button svg, .fancybox__infobar{
    color: #FFC700;
}

.f-button.is-next svg, .f-button.is-prev svg{
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 1300px) {
    .carousel-inner {
        margin-left: 4rem;
        /* width: 100%; */
    }
}

@media screen and (max-width: 770px) {

   
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: flex;
        justify-content: center;
    

    }

    .carousel {
        height: 100%;
    }
    .carousel .card{
        height: 10rem !important;
        /* height: 15rem; */
        width: 50%;
    
    
    }

    .carousel-inner {
        margin-top: 1rem;
        margin-left: 0rem;
        width: 100%;
    }
    /* .carousel-next-arrow{
    
        right: 10rem;

    }

    .carousel-prev-arrow{
    
        left: 10rem;

    } */
    

  }