body{
  /* border: 3px solid red; */
}


.heading-title {
    font-family: Monstriffic;
    color: #FFC700;
    margin-top: 2rem;
    /* margin-bottom: -1rem; */
    font-size: 1.8rem;
}

.left-body{
    font-family: LexendDeca;
    color: #F2FFB4;
}

.logo-influencer{
  position: relative;
  width: 45%;
  height: 25%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.logo-player{
  position: relative;
  width: 45%;
  height: 28%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.logo {
  position: relative;
  width: 25%;
  height: 25%;
  margin-top: 5%;
  padding-bottom: 2%;
}



#forms-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* max-width: 75%; */
    position: relative;

}


#forms-container .body-columns{
    display: flex;
    justify-content: center;
    position: relative;
    /* align-items: center; */

    max-width: 75rem;
    /* max-height: 100%; */

    background-color: rgba(13, 66, 70, .9);
    padding-bottom: 3rem;
    padding-top: 1rem;

    margin-top: 4rem;
    /* margin-bottom: 1rem; */

    border-radius: 25px;

}

#forms-container #left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
}


#form-container form{
    position: relative;
    width: 100%;
    height: 100%;

}

.form-group .hyperlinks{
  text-decoration: none;
  color:#FFC700;
}

 .player-container {
  justify-content: center;
  align-items: center;
}
/*.player-container .heading-title{
  margin-top: 2rem;
}
.player-container .logo {
  width: 35%;
  height: 35%;
} */

/* .player-container #left-logo {
    display: none;
} */



.middle-line {
    border-left: 3px solid #33ba90;
    height: calc(100% - 3rem);
    z-index: 1;
    position: absolute;
  }

.horizontal-line {
  border-top: 3px solid #33ba90;
  width: 100%;
  z-index: 1;
  position: relative;
  margin-top: 1.5rem;
  /* margin-bottom: ; */
}

  form label{
    font-family: LexendDeca;
    color: #FFC700;
  }

  .left-labels{
    display: flex;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .checkbox-container{
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 1.7rem;
    min-height: 1.7rem;
    height: 1.7rem;
    width: 2.3rem;
    top: 0.25rem;
    margin-right: 0.5rem;
  }

  .checkbox-container .checkbox-cell {
    position: absolute;
    opacity: 0;
    color: #81ffb6;
    cursor: pointer;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .checkbox-container .checkmark {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #162c2c;
    border: 3px solid #33ba90;
    border-radius: 8px;
  }

  .checkbox-container input:checked ~ .checkmark {
    background-repeat: no-repeat;
   
    background-position: center;
    background-image: url(../Images/ETR_web_checkmark.png);
  }

  .checkbox-term{
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 1.5rem;
    width: 1.5rem;
    top: 1.7rem;
  }

  .checkbox-term .checkbox-cell {
    position: absolute;
    opacity: 0;
    color: #81ffb6;
    cursor: pointer;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .checkbox-term .checkmark {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #162c2c;
    border: 3px solid #33ba90;
    border-radius: 7px;
  }

  .checkbox-term input:checked ~ .checkmark {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../Images/ETR_web_checkmark.png);
  }

  form .channels .form-group{
    display: flex;
    position: relative;
    flex-direction: row;
    padding-bottom: 0.5rem;
  }

  
  form .channels .form-group label{
    margin-top: 4px;
    width: 9rem;
    color: white;
    font-size: larger;
    text-align: left;

  }

  form .channels .form-group .form-control{
    width: 100%;

  }

  form input {
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 10px !important;
  }

  form input:disabled {
    background-color: #162c2c !important;
    border: none !important;
  }

  

#btn-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    width: 45%;
    z-index: 1;
}

.submitButton .buttonImageSubmit {
    position: relative;
    width: 100%;
}

.submitButton>.buttonText{
    font-family: Monstriffic;
    position: absolute;
    font-size: xx-large;
    color: #ffffff;
    padding-bottom: 0.1rem;
}

.terms-of-service{
  position: relative;
  width: 96%;
  
}

.form-check {
  padding-left: 0 !important;
}

.terms-of-service .form-check-label{

    text-align: left;
    padding-left: 2.5rem;
    font-size: 0.7rem;
    width: 100%;
    color: #ffffff;
}

.terms-of-service .important-note{
    color: #FFC700;
}

.terms-of-service .note-label {
  margin: 0.2rem;
    text-align: left;
    font-size: 0.7rem;
    width: 100%;
    color: #ffffff;

}

.hideOverflow{
    overflow: hidden !important;
}

.hide{
    display: none !important;
}

.signup-active, .submit-active{
  filter: brightness(1);


}
.signup-pressed, .submit-pressed{
  filter: brightness(0.7);
}


/* Media query for smaller screens */
@media screen and (max-width: 1300px) {

    #forms-container .body-columns{
      max-width: 45rem;
      overflow: visible;

  }
  #forms-container #left-container{
      width: 100%;
  }
  .body-columns{
      flex-direction: column;
  }
  .middle-line{
      display: none;
  }

  .submitButton .buttonText {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  
  
}

@media screen and (max-width: 720px){


  #forms-container .body-columns{
    margin-top: 0rem;

}
  .left-body {
    text-align: left;
  }
}


@media (max-width: 480px) {
  .logo {
    /* position: relative; */
    width: 30vw;
    height: 15vh;
    /* margin-top: 5%; */
    padding-bottom: 1rem;
}

  form .channels .form-group label{
    margin-top: 4px;
    font-size: medium;
  }

  .terms-of-service {
    margin-top: -0.5rem;
  }
  .terms-of-service .note-label {
    font-size: 0.6rem;
  }

  .terms-of-service .form-check-label{
    font-size: 0.6rem;
}

}

@media screen and (max-width: 380px){
  .logo {
    /* position: relative; */
    width: 33vw;
    height: 15vh;
    /* margin-top: 5%; */
    /* padding-bottom: 1rem; */
}
}


@media (max-width: 220px) {
  form .channels .form-group label{
    margin-top: 4px;
    font-size: small;
  }
}

